BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never

# Brace style: customized Allman-like
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false

# Function/Argument formatting
AllowAllArgumentsOnNextLine: false
BinPackArguments: false
AlignAfterOpenBracket: Align
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
AlwaysBreakAfterReturnType: TopLevel

# switch/case formatting
IndentCaseLabels: true